<div class="container-fluid main">

    <div class="row">
        <div class="col-sm-12 head">
           <h2>WELCOME TO OSG OPS</h2>
           <mat-divider></mat-divider>
        </div>  


        

    </div>
</div>

<div class="container-fluid mainpg">
    <p style="text-align: center; margin-bottom: 20px; color: #666666;">Please Select Your Application</p>
    <div class="row">
       
      
        <div class="col-sm-2"  (click)="hello()">
            
         <mat-card class="imgs">
           <mat-icon>dns</mat-icon>
             <h4>WELCOME</h4>
             <p>dfdsfdf</p>
         </mat-card>
        </div>   
        <div class="col-sm-2"  (click)="hello()">
            
            <mat-card class="imgs">
              <mat-icon>dns</mat-icon>
                <h4>WELCOME</h4>
                <p>dfdsfdf</p>
            </mat-card>
        </div>   

        <div class="col-sm-2"  (click)="hello()">
            
            <mat-card class="imgs">
              <mat-icon>dns</mat-icon>
                <h4>WELCOME</h4>
                <p>dfdsfdf</p>
            </mat-card>
        </div>   
           
        <div class="col-sm-2"  (click)="hello()">
            
            <mat-card class="imgs">
              <mat-icon>dns</mat-icon>
                <h4>WELCOME</h4>
                <p>dfdsfdf</p>
            </mat-card>
           </div>   
           
           
           <div class="col-sm-2"  (click)="hello()">
            
            <mat-card class="imgs">
              <mat-icon>dns</mat-icon>
                <h4>WELCOME</h4>
                <p>dfdsfdf</p>
            </mat-card>
           </div>   


           <div class="col-sm-2"  (click)="hello()">
            
            <mat-card class="imgs">
              <mat-icon>dns</mat-icon>
                <h4>WELCOME</h4>
                <p>dfdsfdf</p>
            </mat-card>
           </div>   
           

    </div>

</div>