<div  class="map">
<button mat-raised-button class="btnp"> LOCATION &nbsp;&nbsp;<i class='fas fa-close'></i></button>
<p class="mapone"> <i class='fas fa-list-ul'></i></p>
<p class="maptwo"> <i class='fas fa-close'></i></p>

<div class="paras" >
    <p>To deliver high map performance, the map will only display up to 2,500 assets at one time. 
        Please use a filter to specify a working set of less than 2,500 assets if you have more than 2,500 assets in your account</p>
</div>
<img src="../../assets/Rectangle 168.png" class="mapimage">

<p class="foot">87 OUT OF 9661 ASSETS DO NOT HAVE LOCATION INFORMATION</p>

</div>