.example-container{
  width: 100%;
  height: auto;
  overflow-y: hidden;
}
.toolbar{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
::ng-deep .mat-tooltip {
  background-color: white;
  color: #666666 !important;
}
.menus{
  
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #666666;

}

.logo{

    position: absolute;
    bottom: 15.38%;
    height: 46px;
    width: 141px;
    left: 50px;
    top: 9px;
    border-radius: 0px;
}

.rightside{
   position: relative;
   top:0%;
   left: 1000px;
}

.rightside a {
    /*width: 70px;*/
    padding-left: 30px;
    padding-right: 30px;
    height: 64px;
  float: left;
  font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-decoration: none;
color: #666666;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
   .example-sidenav-container {
    flex: 1;
  }
  
  .example-sidenav{
      width: 60px;
    
  }
  
  .mat-list-item{
    color: #666666;
    font-size: 18px;
   
  }
  
  .mat-drawer{
   
    background:White;
  }
  

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
  
  }

  .mat-menu-item {
    height: inherit;
    width: inherit;
   
  }
  .sub-menu {
    float: left;
    display: block;
    padding: 5px;
  }
  
  .sub-menu .menu-title {
    display: block;
    margin-top: -20px;
    color: #666666;
   
  }
  
  .example-form {
    height: 330px;
    /* width: 800px; */
  }
 
  .search{}
  .mat-drawer-content {
    background: #ECF0F3;
  }

  .mat-list-base {
    padding-top: 0px; 
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 0px;
}

.mat-list-item .last{
    position: relative;
    top: 92%;
    color: #005F9E;
}


@media only screen and (max-width:768px) {

  .logo{

    position: absolute;
    bottom: 15.38%;
    height: 36px;
    width: 80px;
    left: 50px;
    top: 11px;
    border-radius: 0px;
}
.rightside{
  position: relative;
  top:0%;
  left: 100px;
}
.rightside a {
  /*width: 70px;*/
  padding-left: 30px;
  padding-right: 0px;
  height: 30px;
float: left;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-decoration: none;
color: #666666;
}
}