
<div class="example-container">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
     <a> <mat-icon class="menus"  (click)="sidenav.toggle()">menu</mat-icon> </a>
      
      <img class="logo" src="../assets/trimble 1.png">
      <div class="rightside">
        <a [matMenuTriggerFor]="menuse" matTooltip="Global Search"
        aria-label="Button that displays a tooltip when focused or hovered over"> <i class="fa fa-search"></i> </a>
        <mat-menu #menuse="matMenu" >

          <div class="search" mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
            <mat-form-field appearance= "outline" class="example-chip-list" >
              <mat-label>Search</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(fruit)">
                  {{fruit.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Search"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
        </mat-menu>
        <a [matMenuTriggerFor]="menu" matTooltip="Notification"
        aria-label="Button that displays a tooltip when focused or hovered over"> <i class="fa fa-bell"></i></a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        <a [matMenuTriggerFor]="menu1"  matTooltip="App Launcher"
        aria-label="Button that displays a tooltip when focused or hovered over"> <i class='far fa-calendar-alt'></i> </a>
      
        <mat-menu #menu1="matMenu" >
          <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
          <!-- popover content begin -->
        <form class="example-form">
          <h5 style="text-align: center;">Apps</h5>
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>home</mat-icon>
                <a class="menu-title">Home</a>
              </div>
             
            
            </div>
            <div class="col-sm-4 col-xs-4" > 
               <div class="sub-menu">
                  <mat-icon>account_box</mat-icon>
                  <a class="menu-title">Account</a>
            </div>
          </div>
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>build_circle</mat-icon>
                <a class="menu-title">Build</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>explore</mat-icon>
                <a class="menu-title">Explore</a>
              </div>
             
            
            </div>
            <div class="col-sm-4 col-xs-4" > 
               <div class="sub-menu">
                  <mat-icon>
                    pending</mat-icon>
                  <a class="menu-title">
                    Pending</a>
            </div>
          </div>
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>settings</mat-icon>
                <a class="menu-title">Settings</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>save</mat-icon>
                <a class="menu-title">Save</a>
              </div>
             
            
            </div>
            <div class="col-sm-4 col-xs-4" > 
               <div class="sub-menu">
                  <mat-icon>access_alarms</mat-icon>
                  <a class="menu-title">Alarm</a>
            </div>
          </div>
            <div class="col-sm-4 col-xs-4">
              <div class="sub-menu">
                <mat-icon>wifi_tethering</mat-icon>
                <a class="menu-title">Wifi</a>
              </div>
            </div>
          </div>
       
        <button color="primary" mat-raised-button>MORE..</button>
        </form>
        <!-- popover content end  -->
        </span>
        </mat-menu>
        <a matTooltip="Profile"
        aria-label="Button that displays a tooltip when focused or hovered over"> <i class='fas fa-user-alt'></i></a>

    </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" >
      
      <mat-nav-list class="dashboard" style="height: 50%;">
      
        <a mat-list-item (click)="dashboard();toggleActive($event)" >
          <i class='fas fa-home'></i>
        
        </a>
        <a mat-list-item (click)="fleet();toggleActive($event)" >
          <i class='fas fa-car-side'></i> 
        </a>
        <a mat-list-item (click)="login();toggleActive($event)">
          <i class='far fa-sun'></i>
        </a>
        <a mat-list-item (click)="application();toggleActive($event)">
         <i class='fas fa-code-branch'></i>
        </a>
        <a mat-list-item >
          <i class='fas fa-chart-line'></i>
         </a>
         <a mat-list-item  style="position: relative;  top: 90%; color: #005F9E;" >
           <i class='fas fa-sign-out-alt'></i>
        </a>
      
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>



 

</div>