<div class="one1">
   
      
    <button mat-raised-button class="btnp"> FULL LEVEL &nbsp;&nbsp;<i class='fas fa-close'></i></button>
    <p class="oneicon"> <i class='fas fa-list-ul'></i></p>
  
   <div class="pl" >
       <!--  <button mat-raised-button class="btnp11"> (9650) ALL ASSETS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fas fa-angle-down'></i></button>
-->
<mat-form-field  appearance="outline" class="froms" >
   
    <mat-select [(value)]="selected">
      <mat-option value="option1">ONE ASSETS</mat-option>
      <mat-option value="option2">(1925) ALL ASSETS</mat-option>
      <mat-option value="option3">TWO ASSETS</mat-option>
    </mat-select>
  </mat-form-field>
    </div>
    
    <div id="chart1"></div>

    <!--<img class="fuel" src="../../assets/Group 265.png">-->
    <p class="fuelt">133 assets excluded</p>
    
  

    

</div>