<div class="mainpg">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
           <app-asset-status></app-asset-status>
        </div>
        <div class="col-sm-6">
           
            <app-assets-utilization></app-assets-utilization>
        </div>
       
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
           <app-fuel-level></app-fuel-level>
        </div>
        <div class="col-sm-6">
           
           <app-notification></app-notification>
            
        </div>
       
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
      <app-idling-level></app-idling-level>
        </div>
        <div class="col-sm-6">
           
         <app-feelings></app-feelings>
            
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <app-location></app-location>
        </div>
    </div>
</div>
</div>
<!--<div class="map">
  

    <app-asset-status></app-asset-status>

</div>
-->


